<div class="row">
    <div class="col-lg-11">
        <h1>Educación<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
            <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z"/>
            <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z"/>
          </svg></h1>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div id="nivel">
        <div>
            <h3>Nivel terciario</h3> 
            <h5>Analista en Sistemas de Computación, 2022 - presente</h5>
            <p>Instituto Leibnitz, Villa María</p>
        </div>
        <div>
            <h3>Nivel universitario</h3>
            <h5>Profesorado en Lengua Inglesa, 2017 - presente</h5>
            <p>Universidad Nacional de Villa María</p>
        </div>
        <div>
            <h3>Nivel secundario</h3>
            <h5>Bachiller en Ciencias Naturales, 2016</h5>
            <p>Instituto Diocesano General Manuel Belgrano, Pozo del Molle</p>
        </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
        <div id="curso">
            <h4>Cursos y actualizaciones:</h4>
                <ul>
                    <li>
                        <p>Curso: “Argentina Programa: #SéProgramar” (2022). Ministerio de Producción de la Nación y la Cámara de Empresas de Software y Servicios Informáticos de Argentina (CESSI).</p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p>IV Jornadas Nacionales de ELT. Mixed-ability groups: “Teaching and Learning in the ELT Classroom”. (2017). UNVM. Villa María, Cba.</p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p>Curso “International and National Students Writing Conference” en calidad de asistente (2017) y en calidad de expositora (2018). UNVM. Villa María, Cba.</p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p>Curso: “Intervención en el Aula de Fonética II - Algunas consideraciones sobre acentos de inglés en los EE.UU.” (2017). UNVM. Villa María, Cba.</p>
                    </li>
                </ul>
        </div>
    </div>
</div>