<div class="row">
    <div class="col-lg-11">
        <h1>Educación</h1>
    </div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Nivel terciario</h3> 
                <h5>Analista en Sistemas de Computación</h5>
                <p>Instituto Leibnitz 2022 - presente</p>
                <span>
                    <p>Cursos y actualizaciones:</p>
                    <p>-IV Jornadas Nacionales de ELT. Mixed-ability groups: “Teaching and Learning in the ELT Classroom”. (2017). UNVM. Villa María, Cba.
                        -Curso “International and National Students Writing Conference” en calidad de asistente (2017) y en calidad de expositora (2018). UNVM. Villa María, Cba.
                        -Curso: “Intervención en el Aula de Fonética II - Algunas consideraciones sobre acentos de inglés en los EE.UU.” (2017). UNVM. Villa María, Cba.
                        -“Maratón de Lectura” (2017, 2019). UNVM. Villa María, Cba.
                    </p>
                </span>
            </li>
        </ul>
    </div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Nivel universitario</h3>
                <h5>Profesorado en Lengua Inglesa 2017 - presente</h5>
                <p>Universidad Nacional de Villa María</p>
            </li>
        </ul>
    </div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Nivel secundario</h3>
                <h5>Bachiller en Ciencias Naturales, 2016</h5>
                <p>Egresada del “Instituto Diocesano General Manuel Belgrano”. Pozo del Molle</p>
            </li>
        </ul>
    </div>
</div>
