.row{
    background-color: #81929a;
}
#logoAP{
    width: 140px;
}
svg{
    margin-right: 3px;
}
#iconoI{
    margin-left: 5px;
    margin-top: 5px;
}
#iconoD{
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 70px;
}
li{
    display: inline-block;
}
.nav-link{
    font-family: Georgia, serif;
}
.btn{
    border-width: 2px;
    margin-left: 15px;
}
a img{
    width: 50px;
    padding: 4px;
    -webkit-transition: -webkit-transform 0.1s ease-in-out 0.1s;
    -moz-transition: -moz-transform 0.1s ease-in-out 0.1s;
    -o-transition: -o-transform 0.1s ease-in-out 0.1s;
}
a img:hover{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
}