<div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <img src="assets\APLogo1.png" alt="Logo Argentina Programa" id="logoAP">
    </div>
    <div class="text-right col-xs-10 col-sm-10 col-md-10 col-lg-10" id="redes">
        <a href="https://www.linkedin.com/in/damaris-fuentes-472a94266/"><img src="assets\linkedin.png" alt="Logo linkedin" id="linkedin"></a>
        <a href="https://github.com/13Dam"><img src="assets\github.png" alt="Logo GitHub" id="github"></a>
        <a href="https://www.facebook.com/DamarisLFuentes"><img src="assets\facebook.png" alt="Logo facebook" id="facebook"></a>
        <a href="https://www.instagram.com/damarisfuentesb/"><img src="assets\instagram.png" alt="Logo instagram" id="instagram"></a>
    </div>
</div>