<div class="row">
    <div class="col-lg-11">
        <h1>Habilidades</h1>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [showUnits]="false"
        [title]="'Inglés'"
        [titleColor]="'#1c1c1c'"
        [subtitle]="'90%'"
        [subtitleColor]="'#1c1c1c'"
        [subtitleFontSize]="'1em'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#2e5392'"
        [innerStrokeColor]="'#1c1c1c'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [showUnits]="false"
        [title]="'C#'"
        [titleColor]="'#1c1c1c'"
        [subtitle]="'70%'"
        [subtitleColor]="'#1c1c1c'"
        [subtitleFontSize]="'1em'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#2e5392'"
        [innerStrokeColor]="'#1c1c1c'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [showUnits]="false"
        [title]="'JavaScript'"
        [titleColor]="'#1c1c1c'"
        [subtitle]="'70%'"
        [subtitleColor]="'#1c1c1c'"
        [subtitleFontSize]="'1em'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#2e5392'"
        [innerStrokeColor]="'#1c1c1c'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [showUnits]="false"
        [title]="'TypeScript'"
        [titleColor]="'#1c1c1c'"
        [subtitle]="'70%'"
        [subtitleColor]="'#1c1c1c'"
        [subtitleFontSize]="'1em'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#2e5392'"
        [innerStrokeColor]="'#1c1c1c'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [showUnits]="false"
        [title]="'HTML5'"
        [titleColor]="'#1c1c1c'"
        [subtitle]="'70%'"
        [subtitleColor]="'#1c1c1c'"
        [subtitleFontSize]="'1em'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#2e5392'"
        [innerStrokeColor]="'#1c1c1c'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [showUnits]="false"
        [title]="'CSS3'"
        [titleColor]="'#1c1c1c'"
        [subtitle]="'70%'"
        [subtitleColor]="'#1c1c1c'"
        [subtitleFontSize]="'1em'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#2e5392'"
        [innerStrokeColor]="'#1c1c1c'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [showUnits]="false"
        [title]="'Word, Excel, PowerPoint'"
        [titleColor]="'#1c1c1c'"
        [subtitle]="'70%'"
        [subtitleColor]="'#1c1c1c'"
        [subtitleFontSize]="'1em'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#2e5392'"
        [innerStrokeColor]="'#1c1c1c'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [showUnits]="false"
        [title]="'Git'"
        [titleColor]="'#1c1c1c'"
        [subtitle]="'70%'"
        [subtitleColor]="'#1c1c1c'"
        [subtitleFontSize]="'1em'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#2e5392'"
        [innerStrokeColor]="'#1c1c1c'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
    </div>
</div>
