<div class="row">
    <div class="col-lg-11">
        <h1>Habilidades<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pc-display" viewBox="0 0 16 16">
            <path d="M8 1a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1V1Zm1 13.5a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0Zm2 0a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0ZM9.5 1a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5ZM9 3.5a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 0-1h-5a.5.5 0 0 0-.5.5ZM1.5 2A1.5 1.5 0 0 0 0 3.5v7A1.5 1.5 0 0 0 1.5 12H6v2h-.5a.5.5 0 0 0 0 1H7v-4H1.5a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5H7V2H1.5Z"/>
          </svg></h1>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="88"
        [radius]="100"
        [showUnits]="false"
        [title]="'Inglés'"
        [titleColor]="'#1c1c1c'"
        [subtitle]="'88%'"
        [subtitleColor]="'#1c1c1c'"
        [subtitleFontSize]="'1em'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#2e5392'"
        [innerStrokeColor]="'#1c1c1c'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="75"
        [radius]="100"
        [showUnits]="false"
        [title]="'HTML5'"
        [titleColor]="'#1c1c1c'"
        [subtitle]="'75%'"
        [subtitleColor]="'#1c1c1c'"
        [subtitleFontSize]="'1em'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#2e5392'"
        [innerStrokeColor]="'#1c1c1c'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [showUnits]="false"
        [title]="'CSS3'"
        [titleColor]="'#1c1c1c'"
        [subtitle]="'70%'"
        [subtitleColor]="'#1c1c1c'"
        [subtitleFontSize]="'1em'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#2e5392'"
        [innerStrokeColor]="'#1c1c1c'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="68"
        [radius]="100"
        [showUnits]="false"
        [title]="'C#'"
        [titleColor]="'#1c1c1c'"
        [subtitle]="'68%'"
        [subtitleColor]="'#1c1c1c'"
        [subtitleFontSize]="'1em'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#2e5392'"
        [innerStrokeColor]="'#1c1c1c'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="65"
        [radius]="100"
        [showUnits]="false"
        [title]="'JavaScript'"
        [titleColor]="'#1c1c1c'"
        [subtitle]="'65%'"
        [subtitleColor]="'#1c1c1c'"
        [subtitleFontSize]="'1em'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#2e5392'"
        [innerStrokeColor]="'#1c1c1c'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="62"
        [radius]="100"
        [showUnits]="false"
        [title]="'TypeScript'"
        [titleColor]="'#1c1c1c'"
        [subtitle]="'62%'"
        [subtitleColor]="'#1c1c1c'"
        [subtitleFontSize]="'1em'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#2e5392'"
        [innerStrokeColor]="'#1c1c1c'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        [title]="'Word, Excel, PP'"
        [titleColor]="'#1c1c1c'"
        [subtitle]="'85%'"
        [subtitleColor]="'#1c1c1c'"
        [subtitleFontSize]="'1em'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#2e5392'"
        [innerStrokeColor]="'#1c1c1c'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [showUnits]="false"
        [title]="'Git'"
        [titleColor]="'#1c1c1c'"
        [subtitle]="'70%'"
        [subtitleColor]="'#1c1c1c'"
        [subtitleFontSize]="'1em'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#2e5392'"
        [innerStrokeColor]="'#1c1c1c'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="60"
        [radius]="100"
        [showUnits]="false"
        [title]="'Bootstrap'"
        [titleColor]="'#1c1c1c'"
        [subtitle]="'60%'"
        [subtitleColor]="'#1c1c1c'"
        [subtitleFontSize]="'1em'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#2e5392'"
        [innerStrokeColor]="'#1c1c1c'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
    </div>
</div>
