.row{
    padding: 20px;
    background-color: #a1b5cb;
}
h1{
    position: relative;
    left:35px;
    border-bottom: 4px groove #6b777e;
    display: flex;
    justify-content: space-between;
}
#experiencia{
    padding: 15px;
}