.row{
    padding: 20px;
    background-color: #a1b5cb;
}
h1{
    position: relative;
    left:20px;
    border-bottom: 4px groove #6b777e;
    display: flex;
    justify-content: space-between;
}
p{
    font-family: Georgia, serif;
}
p svg{
    color: #606b72;
    height: 28px;
    width: 28px;
    margin-right: 5px;
}
#mail, #ubicacion, #tel{
    padding: 50px
}